
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var,
em {
  font-style: normal;
  /*font-weight:normal;*/

}
ul,
ol,
li {
  list-style: none;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
  padding: 0px;
}
table {
  border-collapse: collapse;
}
body {
  background-color: #f6f7f7;
  color: #333333;
  padding: 0px 0;
  font: 14px/1.5 "Arial", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
  min-width: 1000px;
  -webkit-text-size-adjust: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearit {
  clear: both;
  height: 20px;
  font-size: 0;
  overflow: hidden;
  zoom: 1;
  background: white;
}

p {
  text-align: justify;
  text-justify: inter-ideograph;
  word-break: break-all;
  word-wrap: break-word;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-property: color,background-color,border;
  -moz-transition-property: color,background-color,border;
  -ms-transition-property: color,background-color,border;
  -o-transition-property: color,background-color,border;
  transition-property: color,background-color,border;
}

a:hover{
  color: #1f90de;
  text-decoration: none;
}

.trans {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.tranPos {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-property: left,top;
  -moz-transition-property: left,top;
  -ms-transition-property: left,top;
  -o-transition-property: left,top;
  transition-property: left,top;
}
.defaulta {
  text-decoration: none;
}
.defaulta:link {
  color: #333333 !important;
}
.defaulta:hover,
.defaulta:focus,
.defaulta:focus {
  color: #1f90de !important;
  text-decoration: none;
}
.defaulta:visited {
  color: #333333 !important;
}
.normala {
  text-decoration: none;
}
.normala:link {
  color: #777777;
}
.normala:hover,
.normala:focus,
.normala:focus {
  color: #1f90de;
  text-decoration: none;
}
.normala:visited {
  color: #777777;
}
.bluea {
  text-decoration: none;
}
.bluea:link {
  color: #1f90de !important;
}
.bluea:hover,
.bluea:focus,
.bluea:focus {
  color: #1f90de !important;
  text-decoration: none;
}
.bluea:visited {
  color: #1f90de !important;
}
.center {
  width: 1040px;
  margin: 0 auto;
}
.nobr {
  border: 0px !important;
}
.blank {
  clear: both;
  overflow: hidden;
  width: 100%;
  height: 0px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.c1f6 {
  color: #1f90de !important;
}
.cfe4 {
  color: #fe4028 !important;
}
.cff5 {
  color: #ff5a00 !important;
}
.c777 {
  color: #777777 !important;
}
.c555 {
  color: #555555 !important;
}
.f14 {
  font-size: 14px !important;
  line-height: 30px;
}
.f12 {
  font-size: 12px !important;
  line-height: 25px;
}
.textbold {
  font-weight: bold !important;
}
.textbold * {
  font-weight: bold !important;
}
.jobinfo em,
.resumeinfo em,
.companyinfo em {
  color: #fe4028;
}
.W_ico16 {
  background-image: url("../../image/cli/bg_line.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.approve_co {
  background-position: -75px -6px;
  height: 14px;
  margin-left: 2px;
  vertical-align: text-bottom;
  width: 16px;
}
.spread_co {
  height: 18px;
  line-height: 18px;
  background-color: #ffd200;
  color: white;
  display: inline-block;
  padding: 0 10px;
  vertical-align: 0px;
  *vertical-align: middle;
  border-radius: 3px;
  margin-right: 10px;
}
.img_icon,
.video_icon {
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: -1px;
  *vertical-align: middle;
  background: url("../../image/cli/icon.png") 0 0 no-repeat;
  margin-left: 5px;
}
.img_icon {
  background-position: 0 -1536px;
}
.video_icon {
  background-position: 0 -1564px;
}
.neitui_approve_icons {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background: url("../../image/cli/icon.png") 0 -658px no-repeat;
  vertical-align: middle;
  position: relative;
}
.neitui_approve_icons em {
  position: absolute;
  z-index: 1000;
  left: 23px;
  top: 0px;
  right: auto;
  bottom: auto;
  zoom: 1;
  font-style: normal;
  color: white;
  background-color: #50b848;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  word-break: keep-all;
  width: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.neitui_approve_icons:hover em {
  width: auto;
  padding: 0 10px;
}
.neitui_approve_icons_pledge {
  background-position: 0 -1297px;
}
.neitui_approve_icons_pledge em {
  background-color: #00afec;
}
.neitui_approve_icons_fund {
  background-position: 0 -1331px;
}
.neitui_approve_icons_fund em {
  background-color: #a20fff;
}
span.hot {
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: 0px;
  *vertical-align: middle;
  margin-left: 5px;
  background: url("../../image/cli/icon.png") 0 -153px no-repeat;
}
span.new {
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: 0px;
  *vertical-align: middle;
  margin-left: 5px;
  background: url("../../image/cli/gb.png") 20px -60px no-repeat;
}
span.tiezi {
  display: inline-block;
  width: 15px;
  height: 20px;
  vertical-align: 0px;
  *vertical-align: middle;
  margin-left: 5px;
  background: url("../../image/cli/forum.png") -80px -16px no-repeat;
}
span.tag {
  display: inline-block;
  padding: 2px 10px;
  background-color: #efefef;
  color: #555555;
  margin: 0 8px 8px 0;
  border-radius: 3px;
  font-size: 12px;
  height: auto !important;
  line-height: inherit !important;
  cursor: pointer;
}
span.tag2 {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  color: #555555;
  background-color: white;
  border-radius: 3px;
  padding: 0 10px;
  margin: 0 8px 8px 0;
}
span.tag3 {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  color: white;
  background-color: #bfbfbf;
  border-radius: 3px;
  padding: 0 10px;
  vertical-align: middle;
  margin-left: 10px;
}
span.new {
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: 0px;
  *vertical-align: middle;
  margin-left: 5px;
  background: url("../../image/cli/icon.png") 0 -213px no-repeat;
}
span.tips {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  color: #555555;
  background: url("../../image/cli/icon.png") 22px -352px no-repeat;
  padding-left: 52px;
}
span.necessary {
  color: #ff5a00;
  font-weight: bold;
  font-family: "Microsoft Yahei", "Arial";
  font-size: 18px;
  display: inline-block;
  padding: 4px 10px 0 0;
  vertical-align: middle;
}
.certification {
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  color: white !important;
  padding: 0 10px;
  display: inline-block;
  background-color: #ff7500;
  border-radius: 3px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.certification:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.bubble {
  height: 20px;
  line-height: 20px;
  padding: 0 7px;
  border-radius: 10px;
  background-color: #fe4028;
  color: white;
  margin-top: 13px;
  font-size: 13px;
  font-style: normal;
  font-family: "Arial";
}
.leftarr,
.uparr,
.rightarr,
.downarr {
  width: 0px;
  height: 0px;
  display: block;
  overflow: hidden;
  border: 8px solid #eeeeee;
}
.leftarr {
  border-left-width: 0px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.uparr {
  border-top-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
}
.downarr {
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
}
.rightarr {
  border-right-width: 0px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.btnbig {
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  color: white !important;
  background: #91c2d4 !important;
  border-color: #91c2d4 !important;
  border-radius: 3px;
  font-size: 16px;
}
input.btnbig {
  line-height: 20px;
}
.btnbig:hover {
  background-color: #1f6692 !important;
  border-color: #1f6692 !important;
}
.btnbigOrange {
  border: 1px solid #fe4028 !important;
  background: none repeat scroll 0 0 #fe4028 !important;
}
.btnbigOrange:hover {
  background-attachment: scroll;
  background-color: #ff8400 !important;
  background-image: none;
  background-repeat: repeat;
  background-position: 0 0;
  border: 1px solid #ff8400 !important;
}
.private_contact {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  width: 60px;
  display: block;
  text-align: center;
  background-color: #91c2d4;
  color: white !important;
  border-radius: 3px;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 70px;
  right: auto;
  bottom: auto;
  zoom: 1;
}
.private_contact:hover {
  background-color: #1f6692;
}
.btnnew {
  height: 30px;
  line-height: 30px;
  background-color: #fe4028;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 3px;
  margin: 0 5px;
  display: inline-block;
  color: white !important;
}
.btnnew:visited {
  color: white !important;
}
.btnnew:hover,
.btnnew:active,
.btnnew:focus {
  color: white !important;
  background-color: #fe4028;
}
.btnblue {
  height: 30px;
  line-height: 30px;
  background-color: #1f6692;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 3px;
  margin: 0 5px;
  display: inline-block;
  color: white !important;
}
.btnblue:visited {
  color: white !important;
}
.btnblue:hover,
.btnblue:active,
.btnblue:focus {
  color: white !important;
  background-color: #1f6692;
}
.qqbtn {
  height: 22px;
  line-height: 22px;
}
.qqbtn em,
.qqbtn i {
  display: inline-block;
  height: 22px;
  background: url("../../image/cli/all.png") 0 0 no-repeat;
  vertical-align: middle;
}
.qqbtn em {
  padding-left: 29px;
  background-position: -353px -163px;
  font-style: normal;
  font-family: "Tahoma", "Arial", "Microsoft Yahei", "SimSun";
  font-size: 12px;
}
.qqbtn i {
  width: 9px;
  background-position: -491px -163px;
}
.weibofollowbtn {
  width: 57px;
  height: 22px;
  overflow: hidden;
  display: inline-block;
  line-height: 300px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background: url("../../image/cli/all.png") 0 0 no-repeat;
}
.weibofollowbtn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.weibologinbtn {
  display: block;
  width: 130px;
  padding-left: 70px;
  margin: 0 auto;
  background: #f6f7f7 url("../../image/cli/all.png") -442px -58px no-repeat;
  height: 55px;
  line-height: 55px;
  border-radius: 5px;
  text-align: left;
}
.weibologinbtn:hover {
  background-color: #dddddd;
  color: #333333;
}
.backToTop {
  display: none;
  width: 19px;
  height: 70px;
  line-height: 1.2;
  padding: 5px 0;
  color: white;
  font-size: 12px;
  text-align: center;
  position: fixed;
  left: 50%;
  margin-left: 530px;
  _position: absolute;
  bottom: 10px;
  _bottom: "auto";
  cursor: pointer;
  opacity: 0.9;
  filter: alpha(opacity=60);
  background: url("../../image/cli/backtop.png") 0 -88px no-repeat;
}
.backToTop:hover {
  background-position: 0 0;
}
.backtop_move {
  background-position: 0 0;
}
/* Message 
=================================================================== */

.successMsg,
.exceptionMsg {
  line-height: 1.6;
  background-position: 12px 5px;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  -moz-border-radius: 5px;
  /* Gecko browsers */
  -webkit-border-radius: 5px;
  /* Webkit browsers */
  border-radius: 5px;
}
.successMsg {
  background-color: white;
  min-width: 50%;
  -moz-border-radius: 5px;
  /* Gecko browsers */
  -webkit-border-radius: 5px;
  /* Webkit browsers */
  border-radius: 5px;
}
.exceptionMsg {
  background-color: #ffefef;
  width: 50%;
}
.successMsg .forward,
.exceptionMsg .forward {
  margin-top: 10px;
}
.successMsg .prompt_title {
  font-size: 14px;
  color: #004fe0;
  font-weight: bold;
  letter-spacing: 1px;
}
.exceptionMsg .error_title {
  font-size: 14px;
  color: #ff2320;
  letter-spacing: 1px;
}
.successMsg .prompt_content {
  font-size: 14px;
  color: black;
}
.exceptionMsg .error_content {
  font-size: 14px;
  color: red;
  font-weight: bold;
}
/* Tips */

.out_tips {
  position: absolute;
  z-index: 99999;
  left: 500px;
  top: 300px;
  background-color: white;
  width: 510px;
}
.out_tips .out_tips_title {
  background-color: #1f6692;
  height: 40px;
  line-height: 40px;
}
.out_tips .out_tips_title h3 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  float: left;
}
.out_tips .out_tips_title .out_tips_closer {
  float: right;
  width: 57px;
  height: 40px;
  background: url("../../image/cli/all.png") -314px -360px no-repeat;
}
.out_tips .out_tips_content {
  border: 1px solid #e3e3e3;
  font-size: 18px;
  padding: 20px;
}
.out_tips p {
  background: url("../../image/cli/tips.png") 70px 50% no-repeat;
  padding: 12px 85px 12px 138px;
  line-height: 24px;
  color: #555555;
  /*min-height: 41px;*/
  font-size: 18px;
}
.out_tips .confirm,
.out_tips .cancel {
  clear: both;
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 3px;
  color: white;
  border: 1px solid #1f90de;
  background-color: #1f90de;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 40px auto 0;
}
.out_tips .confirm:hover,
.out_tips .cancel:hover {
  border-color: #1f90de;
  background-color: #1f90de;
  color: white;
  text-decoration: none;
}
.out_tips_mask {
  position: absolute;
  z-index: 99998;
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.out_tips_success {
  width: 480px;
}
.out_tips_success p {
  background: none;
  padding: 10px 20px;
  text-align: center;
  min-height: 0;
}
.out_tips_success .confirm {
  margin-top: 20px;
}
.out_confirm_tips {
  width: 480px;
}
.out_confirm_tips p {
  background: none;
  padding: 20px;
  text-align: center;
  min-height: 0;
}
.out_confirm_tips .confirm,
.out_confirm_tips .cancel {
  display: inline-block;
  margin: 20px 10px 0;
}
.out_confirm_tips .out_tips_wrap {
  text-align: center;
}
/* ./Message ======================================================= */

/* Table list ====================================================== */

table.t_list {
  background-color: white;
}
table.t_list th {
  text-align: left;
  padding-right: 10px;
  font-weight: bold;
  padding-left: 5px;
  background-repeat: repeat-x;
  vertical-align: text-top;
  background-position: 50%;
  height: 30px;
  padding-top: 5px;
  font-size: 12px;
  border-bottom: 1px solid #f0f0f0;
}
table.t_list th .note {
  display: block;
}
table.t_list tr.select {
  background-color: #f6fcff;
}
table.t_list tr.select .process {
  background-image: url("../../image/cli/process_bg2.png");
}
table.t_list tr.select .status .status_step1 a {
  text-decoration: none;
}
table.t_list tr.select .status .status_step1 a:link {
  color: #1f90de;
}
table.t_list tr.select .status .status_step1 a:hover,
table.t_list tr.select .status .status_step1 a:focus,
table.t_list tr.select .status .status_step1 a:focus {
  color: #1f90de;
  text-decoration: none;
}
table.t_list tr.select .status .status_step1 a:visited {
  color: #1f90de;
}
table.t_list td {
  line-height: 20px;
  text-align: left;
  height: 20px;
  padding: 10px 5px 10px 2px;
  font-size: 12px;
  vertical-align: middle;
  border-bottom: 1px solid #f0f0f0;
}
table.t_list tr.even {
  background: #f3f3f3;
}
table.t_list tr.status-1 td,
table.t_list tr.status-1 td a {
  color: #cccccc;
}
table.t_list tr.status0 td,
table.t_list tr.status0 td a {
  color: #666666;
}
table.t_list tr.status1 td {
  background: #f4ffff;
}
table.t_list tr.status2 td {
  background-color: #ffffe6;
}
table .t_line td,
table .t_line th {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}
table.t_list input[type="button"],
table.t_list input[type="submit"] {
  margin-top: 0px;
}
/* ./Table list ====================================================================================== */

/* List ============================================================================================== */

.t_search {
  margin-bottom: 10px;
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
  padding-top: 5px;
  padding-bottom: 5px;
}
.t_search .field .more {
  display: none;
}
.t_search .submit {
  float: right;
}
.t_search .submit .swap {
  background-image: url("../../image/cli/search_filter_more_ani.gif");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
}
.t_search li {
  margin-right: 10px;
  float: left;
}
/* handle */

.t_handle {
  height: 30px;
  padding-top: 25px;
  padding-left: 13px;
  padding-right: 13px;
}
.t_handle a {
  text-decoration: none;
}
.t_handle a:link {
  color: #1f90de;
}
.t_handle a:hover,
.t_handle a:focus,
.t_handle a:focus {
  color: #1f90de;
  text-decoration: none;
}
.t_handle a:visited {
  color: #1f90de;
}
.t_handle li {
  float: left;
  height: 20px;
  margin-left: 5px;
}
.t_handle li a {
  display: block;
  border: 1px solid #999999;
  line-height: 20px;
  padding: 0 10px;
  background: #cccccc;
  font-weight: bold;
  color: #333333;
}
/* tab */

.t_tab {
  border-bottom: 1px solid #d2d2d2;
  display: block;
  height: 24px;
  padding-left: 10px;
  margin-top: 10px;
}
.t_tab  ul {
  position: relative;
  top: 1px;
  overflow: hidden;
}
.t_tab  li.select {
  font-weight: 700;
}
.t_tab  li {
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: 24px;
  line-height: 23px;
  margin-right: 2px;
  overflow: hidden;
}
.t_tab a.select,
.t_tab .select a:hover {
  background-position: 0 -316px;
}
.t_tab  a {
  background-position: 0 -181px;
}
.t_tab a,
.t_tab span {
  background-image: url("../../image/cli/bg-tab.png");
  background-repeat: no-repeat;
}
.t_tab  li a {
  display: block;
  float: left;
  height: 100%;
}
.t_tab a,
.t_tab a:hover {
  color: #4d4d4d;
  text-decoration: none;
}
.t_tab a.select span,
.t_tab a.select a:hover span {
  background-position: right -349px;
}
.t_tab  a.select span {
  padding: 0 11px 0 13px;
}
.t_tab  span {
  background-position: right -215px;
}
.t_tab a,
.t_tab span {
  background-image: url("../../image/cli/bg-tab.png");
  background-repeat: no-repeat;
}
.t_tab  li span {
  display: block;
  float: left;
  height: 100%;
  padding: 0 14px 0 15px;
  white-space: nowrap;
}
/**
 Input 
 */

textarea,
.inp {
  border: 1px solid #cccccc;
  font-size: 14px;
  padding: 10px;
}
table.t_value th {
  line-height: 20px;
  font-weight: normal;
  color: #555555;
  vertical-align: top;
  text-align: right;
  font-size: 14px;
  padding: 15px 10px 4px 8px;
  /*text-align:justify;
	text-justify:distribute-all-lines;
	text-align-last:justify;
	-moz-text-align-last:justify;
	-webkit-text-align-last:justify;*/

}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* chrome*/
  
  .table.t_value th:after {
    content: ".";
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 0;
  }
}
table.t_value td {
  line-height: 20px;
  text-align: left;
  padding: 4px 8px;
  font-size: 14px;
}
table.t_value td span.td_txt {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
table.t_value .note {
  height: inherit;
  line-height: 20px;
}
table.t_value ul.fmcheck li {
  display: inline;
}
table.t_value tr.submit {
  border-top: #cccccc 1px solid;
}
table.t_value tr.title {
  background: #f7f7f7;
  font-size: 16px;
  color: black;
}
tabke.t_value th {
  text-align: right;
}
table.allborder {
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: #999999;
  border-right-color: #999999;
}
table.allborder th,
table.allborder td {
  border-bottom-width: 1px ;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: #999999;
  border-left-color: #999999;
}
.header_wrap {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 45px;
  position: fixed;
  z-index: 100000;
  left: 0px;
  top: 0px;
  width: 100%;
}
.header_wrap .header .logo {
  float: left;
  display: inline;
  height: 34px;
  margin-top: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header_wrap .header .navi {
  float: left;
  display: inline;
  /*margin-left: 60px;*/

}
.header_wrap .header .navi li {
  float: left;
  display: inline;
  height: 100%;
  line-height: 45px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 16px;
}
.header_wrap .header .navi li a {
  padding: 0 30px;
  text-decoration: none;
  height: 100%;
  display: block;
}
.header_wrap .header .navi li a:link {
  color: white;
}
.header_wrap .header .navi li a:hover,
.header_wrap .header .navi li a:focus,
.header_wrap .header .navi li a:focus {
  color: white;
  text-decoration: none;
}
.header_wrap .header .navi li a:visited {
  color: white;
}
.header_wrap .header .navi li a.selected {
  background-color: rgba(23, 88, 128, 0.6);
}
.header_wrap .header .navi li a:hover {
  background-color: rgba(23, 88, 128, 0.6);
}
.header_wrap .header .navi li.vip_link a {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  font-style: italic;
}
.header_wrap .header .menu {
  float: right;
  display: inline;
  position: relative;
}
.header_wrap .header .menu a {
  text-decoration: none;
}
.header_wrap .header .menu a:link {
  color: white;
}
.header_wrap .header .menu a:hover,
.header_wrap .header .menu a:focus,
.header_wrap .header .menu a:focus {
  color: white;
  text-decoration: none;
}
.header_wrap .header .menu a:visited {
  color: white;
}
.header_wrap .header .menu .information {
  position: absolute;
  z-index: 1000;
  left: 8px;
  top: 45px;
  right: auto;
  bottom: auto;
  zoom: 1;
}
.header_wrap .header .menu .information em {
  border-bottom-color: #efefef;
  position: absolute;
  z-index: 1000;
  left: 55px;
  top: -7px;
  right: auto;
  bottom: auto;
  zoom: 1;
}
.header_wrap .header .menu .information .information_closer {
  font-family: "Arial";
  font-size: 18px;
  text-decoration: none;
  position: absolute;
  z-index: 1000;
  left: auto;
  top: 0px;
  right: 5px;
  bottom: auto;
  zoom: 1;
  line-height: 20px;
}
.header_wrap .header .menu .information .information_closer:link {
  color: #555555;
}
.header_wrap .header .menu .information .information_closer:hover,
.header_wrap .header .menu .information .information_closer:focus,
.header_wrap .header .menu .information .information_closer:focus {
  color: #fe4028;
  text-decoration: none;
}
.header_wrap .header .menu .information .information_closer:visited {
  color: #555555;
}
.header_wrap .header .menu .information ul {
  padding: 20px 25px;
  width: 110px;
  font-size: 12px;
  position: static;
  border: 2px solid #efefef;
  opacity: 1.0;
  filter: alpha(opacity=100);
  background-color: white;
}
.header_wrap .header .menu .information ul li {
  line-height: 18px;
  height: auto;
}
.header_wrap .header .menu .information ul li a {
  display: inline;
  padding: 0px;
}
.header_wrap .header .menu .menu_login {
  position: relative;
  z-index: 100;
  width: 170px;
}
.header_wrap .header .menu .menu_login .loginlink {
  height: 25px !important;
  margin: 10px 0 0 100px;
  text-align: right;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header_wrap .header .menu .menu_login .loginlink a {
  display: inline-block;
  background: url("../../image/cli/all.png") 0 0 no-repeat;
  height: 25px;
  line-height: 300px;
  overflow: hidden;
  width: 25px;
}
.header_wrap .header .menu .menu_login .loginlink a.topweibologinbtn {
  background-position: -166px -2px;
  margin-right: 10px;
}
.header_wrap .header .menu .menu_login .loginlink a.topqqloginbtn {
  background-position: -204px -2px;
}
.header_wrap .header .menu .menu_login .uinfo {
  height: 45px;
  line-height: 45px;
}
.header_wrap .header .menu .menu_login .uinfo .ulink {
  display: block;
  padding: 0 12px 0 15px;
  height: 45px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header_wrap .header .menu .menu_login .uinfo .ulink:hover,
.header_wrap .header .menu .menu_login .uinfo .ulink:active,
.header_wrap .header .menu .menu_login .uinfo .ulink:focus {
  background-color: #175880;
}
.header_wrap .header .menu .menu_login .uinfo .ulink * {
  display: inline-block;
  vertical-align: middle;
}
.header_wrap .header .menu .menu_login .uinfo span {
  padding: 0 8px 0 12px;
}
.header_wrap .header .menu .menu_login ul {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 45px;
  right: auto;
  bottom: auto;
  zoom: 1;
  width: 168px;
  border: 1px solid #91c2d4;
  background-color: white;
}
.header_wrap .header .menu .menu_login ul li {
  height: 30px;
  line-height: 30px;
}
.header_wrap .header .menu .menu_login ul li a {
  padding-left: 25px;
  display: block;
  height: 100%;
  color: #555555;
}
.header_wrap .header .menu .menu_login ul li a:visited {
  background-color: white;
  color: #555555;
}
.header_wrap .header .menu .menu_login ul li a:hover,
.header_wrap .header .menu .menu_login ul li a:active,
.header_wrap .header .menu .menu_login ul li a:focus {
  background-color: #91c2d4;
  color: white;
}
.header_wrap_bg {
  background-color: #1f6692;
  height: 45px;
  position: fixed;
  z-index: 99999;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.header_wrap_lower {
  height: 40px;
}
.header_wrap_lower .header .logo {
  margin-top: 3px;
}
.header_wrap_lower .header .navi {
  float: left;
  display: inline;
  margin-left: 60px;
}
.header_wrap_lower .header .navi li {
  float: left;
  display: inline;
  line-height: 40px;
  font-size: 16px;
}
.header_wrap_lower .header .navi li a {
  padding: 0 30px;
  text-decoration: none;
  height: 100%;
  display: block;
}
.header_wrap_lower .header .navi li a:link {
  color: white;
}
.header_wrap_lower .header .navi li a:hover,
.header_wrap_lower .header .navi li a:focus,
.header_wrap_lower .header .navi li a:focus {
  color: white;
  text-decoration: none;
}
.header_wrap_lower .header .navi li a:visited {
  color: white;
}
.header_wrap_lower .header .navi li a.selected {
  background-color: #175880;
}
.header_wrap_lower .header .navi li a:hover {
  background-color: #175880;
}
.header_wrap_lower .header .menu {
  float: right;
  display: inline;
}
.header_wrap_lower .header .menu a {
  text-decoration: none;
}
.header_wrap_lower .header .menu a:link {
  color: white;
}
.header_wrap_lower .header .menu a:hover,
.header_wrap_lower .header .menu a:focus,
.header_wrap_lower .header .menu a:focus {
  color: white;
  text-decoration: none;
}
.header_wrap_lower .header .menu a:visited {
  color: white;
}
.header_wrap_lower .header .menu .menu_login {
  position: relative;
  z-index: 100;
  width: 170px;
}
.header_wrap_lower .header .menu .menu_login .loginlink {
  width: 25px;
  height: 25px !important;
  margin: 9px 0 0 135px;
  text-align: right;
}
.header_wrap_lower .header .menu .menu_login .loginlink a {
  display: block;
  background: url("../../image/cli/all.png") -166px -2px no-repeat;
  height: 25px;
  line-height: 300px;
  overflow: hidden;
}
.header_wrap_lower .header .menu .menu_login .uinfo {
  height: 38px;
  line-height: 38px;
}
.header_wrap_lower .header .menu .menu_login .uinfo .ulink {
  display: block;
  padding: 0 12px 0 15px;
}
.header_wrap_lower .header .menu .menu_login .uinfo .ulink:hover,
.header_wrap_lower .header .menu .menu_login .uinfo .ulink:active,
.header_wrap_lower .header .menu .menu_login .uinfo .ulink:focus {
  background-color: #175880;
}
.header_wrap_lower .header .menu .menu_login .uinfo .ulink * {
  display: inline-block;
  vertical-align: middle;
}
.header_wrap_lower .header .menu .menu_login .uinfo span {
  padding: 0 8px 0 12px;
}
.header_wrap_lower .header .menu .menu_login ul {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 40px;
  right: auto;
  bottom: auto;
  zoom: 1;
  width: 168px;
  border: 1px solid #91c2d4;
  background-color: white;
}
.header_wrap_lower .header .menu .menu_login ul li {
  height: 30px;
  line-height: 30px;
}
.header_wrap_lower .header .menu .menu_login ul li a {
  padding-left: 25px;
  display: block;
  height: 100%;
  color: #555555;
}
.header_wrap_lower .header .menu .menu_login ul li a:visited {
  background-color: white;
  color: #555555;
}
.header_wrap_lower .header .menu .menu_login ul li a:hover,
.header_wrap_lower .header .menu .menu_login ul li a:active,
.header_wrap_lower .header .menu .menu_login ul li a:focus {
  background-color: #91c2d4;
  color: white;
}
.box {
  width: 1040px;
  margin: 15px auto 0;
  position: relative;
}
.box .maincontent {
  width: 725px;
  /*min-height: 700px;*/

  float: left;
  display: inline;
  background-color: white;
}
.box .sider {
  width: 300px;
  float: right;
  display: inline;
}
.maincontent .plate h2 {
  font-size: 24px;
  line-height: 34px;
  height: 34px;
  padding: 18px 0 23px 0;
  font-weight: bold;
  color: #333333;
  border-bottom: 2px solid #dddddd;
}
.allcontent .plate h2 {
  font-size: 24px;
  line-height: 34px;
  height: 34px;
  padding: 18px 0 23px 110px;
  font-weight: bold;
  color: #333333;
  border-bottom: 2px solid #dddddd;
}
.plate {
  background-color: white;
  margin-bottom: 15px;
}
.plate h2 {
  font-weight: bold;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 15px 20px 4px 20px;
  overflow: hidden;
}
.plate h2 .more,
.plate h2 .arrs {
  float: right;
  display: inline;
}
.plate h2 .arrs {
  margin-top: 2px;
}
.plate h2 .arrs a {
  float: left;
  display: inline;
  width: 15px;
  height: 15px;
  background: url("../../image/cli/all.png") 0 0 no-repeat;
  margin-left: 6px;
}
.plate h2 .arrs a.arrleft {
  background-position: -349px 0;
  /*&:hover {
						background-position: -304px 0;
					}*/

}
.plate h2 .arrs a.arrright {
  background-position: -370px 0;
  /*&:hover {
						background-position: -370px 0;
					}*/

}
.plate .content {
  padding: 15px 25px;
}
.sider .plate .content {
  padding: 15px 20px;
}
.createtime {
  color: #777777;
  font-size: 12px;
  padding-left: 24px;
  height: 20px;
  line-height: 20px;
  background: url("../../image/cli/icon.png") 0 -426px no-repeat;
  display: block;
}
.viewcounts {
  color: #777777;
  font-size: 12px;
  padding-left: 24px;
  height: 20px;
  line-height: 20px;
  background: url("../../image/cli/icon.png") 0 -898px no-repeat;
  display: block;
}
.resumecounts {
  color: #777777;
  font-size: 12px;
  padding-left: 24px;
  height: 20px;
  line-height: 20px;
  background: url("../../image/cli/icon.png") 0 -950px no-repeat;
  display: block;
}
.footer {
  width: 100%;
  background-color: #434343;
  margin-top: 50px;
  font-size: 12px;
  color: #999999;
  margin-bottom: 0px;
}
.footer a {
  text-decoration: none;
}
.footer a:link {
  color: #999999;
}
.footer a:hover,
.footer a:focus,
.footer a:focus {
  color: white;
  text-decoration: none;
}
.footer a:visited {
  color: #999999;
}
.footer .footer_cols {
  padding-top: 30px;
}
.footer .footer_cols p {
  line-height: 20px;
}
.footer .footer_cols .footer_col1,
.footer .footer_cols .footer_col2,
.footer .footer_cols .footer_col3,
.footer .footer_cols .footer_col4 {
  float: left;
  display: inline;
}
.footer .footer_col1 {
  width: 1040px;
  margin: auto;
  padding-top:7px;
  padding-bottom:7px;
}

.footer .footer_col1 p {
line-height:20px;
  margin: auto;
  text-align: center;
}

.brprice {
  color: #fe4028;
}
span.note,
div.note,
a.note,
ul.note li,
ol.note li,
p.note {
  color: #777777;
  font-size: 12px;
  font-weight: normal;
}
.formele .uparr {
  margin-left: 27px;
}
.formele textarea,
.formele .inp {
  width: 651px;
  height: 83px;
  border: 2px solid #eeeeee;
  resize: none;
  border-radius: 0px;
}
.formele textarea.minicomment {
  padding: 2px 10px;
  height: 25px;
  line-height: 25px;
}
.formele textarea:focus {
  padding: 10px;
  height: 83px;
}
.img {
  position: relative;
  overflow: hidden;
}
.img .neitui_approve {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 100;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  zoom: 1;
  background: url("../../image/cli/all.png") 0 -500px no-repeat;
}
.t_pagelink {
  margin: 20px 0 40px 30px;
}
.page {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #7f7f7f;
  margin-left: 22px;
}
.page span,
.page a {
  display: inline-block;
  padding: 0px 10px;
  background: white;
  margin: 0 3px;
  vertical-align: middle;
}
.page a {
  border: 1px #e1e1e1 solid;
  color: #7f7f7f;
  text-decoration: none;
}
.page span.cur {
  background-color: #a2cfe0;
  color: white;
  border: 1px #a2cfe0 solid;
}
.page a:hover,
.page a:active {
  border: 1px #a2cfe0 solid;
  background-color: #a2cfe0;
  color: white;
  text-decoration: none;
}
.page .prev,
.page .next {
  background: url("../../image/cli/all.png") 0 0 no-repeat;
  width: 30px;
  height: 30px;
  border: 0px;
  overflow: hidden;
  line-height: 300px;
  padding: 0px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}
.page .prev {
  background-position: 0 -163px;
}
.page .prev:hover {
  background-position: -30px -163px;
  border: 0px;
}
.page .next {
  background-position: -123px -163px;
}
.page .next:hover {
  background-position: -93px -163px;
  border: 0px;
}
#ablumPrev,
#ablumNext {
  position: absolute;
  z-index: 1000;
  margin-top: -20px;
  top: 45%;
  width: 40px;
  text-decoration: none;
  height: 40px;
  display: block;
}
#ablumPrev {
  left: 20px;
  background: url("../../image/cli/sprite.png") 0 0 no-repeat;
}
#ablumNext {
  right: 20px;
  background: url("../../image/cli/sprite1.png") 0 0 no-repeat;
}
#ablumList {
  text-align: center;
}
#ablumList span {
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #dddddd;
  margin: 0 5px;
}
#ablumList span.selected {
  background-color: black;
}
.btit {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #333333 !important;
  line-height: 22px !important;
  height: auto !important;
}
.btit span.withborder {
  display: block;
  padding-bottom: 11px;
  border-bottom: 2px solid #f0f0ef;
}
.fix_title {
  border-top: 5px solid #a2cfe0;
  height: 56px;
  line-height: 56px;
  *line-height: 20px;
  background-color: #e7e7e7;
  width: 675px;
  padding: 0 25px;
  *position: relative;
  *left: -25px;
  *top: -15px;
  margin: -15px 0 0 -25px;
}
.fix_title h2 {
  float: left;
  display: inline;
  font-family: "Microsoft Yahei", "SimHei";
  font-size: 20px !important;
  padding: 0px !important;
  height: 56px !important;
  line-height: 56px !important;
  border-bottom: 0px !important;
}
.fix_title .icon_list {
  float: right;
  display: inline;
  height: 20px;
}
.fix_title .icon_list span {
  margin-left: 20px;
}
.boxy-wrapper {
  z-index: 100002 !important;
}
.boxy-modal-blackout {
  z-index: 100001 !important;
}
.share .share_text {
  height: 32px;
  line-height: 32px;
  padding-right: 2px;
  color: #555555;
}
.share .share_btns .jtico {
  background: url("../../image/cli/all.png") 0 0 no-repeat;
  padding-right: 10px;
}
.share .share_btns .jtico_tsina {
  background-position: 5px -1313px;
}
.share .share_btns .jtico_weixin {
  background-position: -45px -1313px;
}
.share .share_btns .jtico_tqq {
  background-position: -94px -1313px;
}
.share .share_btns .jtico_linkedin {
  background-position: 5px -1313px;
}
.share .share_btns .jtico_douban {
  background-position: -138px -1313px;
}
.share .share_btns .jtico_jiathis {
  background-position: -184px -1313px;
}
.sharetitle {
  width: 94px;
  position: absolute;
  z-index: 1000;
  left: -110px;
  top: 250px;
  right: auto;
  bottom: auto;
  zoom: 1;
  padding: 3px 3px 0;
  background-color: #92c1d5;
}
.sharetitle h3 {
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  font-weight: normal;
  color: white;
}
.img_cont .img {
  float: left;
  display: inline;
}
.img_cont .img img {
  border-radius: 5px;
}
.img_cont .cont {
  float: left;
  display: inline;
  margin-left: 15px;
}
.progressName {
  height: 20px !important;
}
.neitui_layout_card {
  position: absolute;
  z-index: 1000000;
  left: 100px;
  top: 100px;
  right: auto;
  bottom: auto;
  zoom: 1;
}
.neitui_layout_card .leftarr {
  border-right-color: #d5d5d5;
  position: absolute;
  z-index: 1000;
  left: -8px;
  top: 8px;
  right: auto;
  bottom: auto;
  zoom: 1;
}
.neitui_layout_card .rightarr {
  border-left-color: #d5d5d5;
  position: absolute;
  z-index: 1000;
  left: auto;
  top: 8px;
  right: -8px;
  bottom: auto;
  zoom: 1;
}
.neitui_layout_card .uparr {
  border-bottom-color: #d5d5d5;
  position: absolute;
  z-index: 1000;
  left: 8px;
  top: -8px;
  right: auto;
  bottom: auto;
  zoom: 1;
}
.neitui_layout_card .downarr {
  border-top-color: #d5d5d5;
  position: absolute;
  z-index: 1000;
  left: 8px;
  top: auto;
  right: auto;
  bottom: -8px;
  zoom: 1;
}
.neitui_layout_card .neitui_layout_box {
  border: 3px solid #d5d5d5;
  border-radius: 3px;
  width: 255px;
  background-color: white;
  padding: 15px;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .neitui_layout_cont_top {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 14px;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .img {
  float: left;
  display: inline;
  margin-right: 7px;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .img img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont {
  float: left;
  display: inline;
  width: 188px;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont h4 {
  font-size: 14px;
  font-weight: bold;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont .neitui_approve_icons {
  margin-left: 5px;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont p {
  color: #5e5e5e;
  font-size: 13px;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont p a {
  text-decoration: none;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont p a:link {
  color: #5e5e5e;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont p a:hover,
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont p a:focus,
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont p a:focus {
  color: #1f90de;
  text-decoration: none;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .cont p a:visited {
  color: #5e5e5e;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .neitui_layout_cont_bottom ul {
  font-size: 12px;
  text-align: center;
  padding-top: 14px;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .neitui_layout_cont_bottom ul li {
  display: inline-block;
  *float: left;
  vertical-align: middle;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .neitui_layout_cont_bottom ul li.vline {
  height: 14px;
  width: 0px;
  overflow: hidden;
  border-right: 1px solid #cccccc;
}
.neitui_layout_card .neitui_layout_box .neitui_layout_cont .neitui_layout_cont_bottom ul li a {
  padding: 0 9px;
  display: block;
  height: 14px;
  line-height: 14px;
}
.process {
  width: 673px;
  margin: 0 0 0 -15px;
  min-height: 50px;
  background: url("../../image/cli/process_bg1.png") 0 38px no-repeat;
}
.process .process_item {
  float: left;
  display: inline;
  text-align: center;
  margin: 25px 0 10px 0;
}
.process .process_item .process_item_top {
  height: 50px;
  background: url("../../image/cli/all.png") 0 0 no-repeat;
}
.process .process_item .process_item_bot {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 5px 0;
  color: #bbbbbb;
}
.process .process_item .process_step0 {
  width: 130px;
  background-position: -115px -1008px;
}
.process .process_item .process_step1 {
  width: 170px;
  background-position: 50px -896px;
}
.process .process_item .process_step2 {
  width: 170px;
  background-position: -78px -896px;
}
.process .process_item .process_step3 {
  width: 175px;
  background-position: -203px -896px;
}
.process .process_item .process_step4 {
  width: 155px;
  background-position: -337px -896px;
}
.process .actived .process_step0 {
  width: 130px;
  background-position: -115px -1085px;
}
.process .actived .process_step1 {
  background-position: 50px -835px;
}
.process .actived .process_step2 {
  background-position: -78px -835px;
}
.process .actived .process_step3 {
  background-position: -203px -835px;
}
.process .actived .process_step4 {
  background-position: -337px -835px;
}
.process_3 {
  border: 3px solid #d6edf6;
  width: 669px;
  min-height: 115px;
  margin-left: 0px;
  background: #f6fcff url("../../image/cli/process_bg4.png") 0 38px no-repeat;
}
.process_3 .process_item .process_text {
  color: #bbbbbb;
  text-align: center;
  padding-top: 40px;
}
.process_3 .process_item .process_step2 {
  width: 130px;
  background-position: -97px -896px;
}
.process_3 .process_item .process_step3 {
  width: 136px;
  background-position: -225px -896px;
}
.process_3 .process_item .process_step4 {
  width: 130px;
  background-position: -353px -896px;
}
.process_3 .process_item .process_text2 {
  width: 138px;
}
.process_3 .process_item .process_text3 {
  width: 135px;
}
.process_3 .actived .process_step0 {
  width: 130px;
  background-position: -115px -1008px;
}
.process_3 .actived .process_step1 {
  background-position: 30px -835px;
}
.process_3 .actived .process_step2 {
  background-position: -92px -835px;
}
.process_3 .actived .process_step3 {
  background-position: -225px -835px;
}
.process_3 .actived .process_step4 {
  background-position: -345px -835px;
}
.process_4 {
  width: 670px;
  border: 3px solid #d6edf6;
  min-height: 115px;
  margin-left: 0px;
  background: #f6fcff url("../../image/cli/process_bg2.png") 0 38px no-repeat;
}
.process_5 {
  width: 670px;
  border: 3px solid #d6edf6;
  min-height: 115px;
  margin-left: 0px;
  background: #f6fcff url("../../image/cli/process_bg3.png") 0 36px no-repeat;
}
.process_5 .process_item {
  float: left;
  display: inline;
  text-align: center;
  margin: 25px 0 10px 0;
}
.process_5 .process_item .process_item_top {
  height: 50px;
  background: url("../../image/cli/all.png") 0 0 no-repeat;
}
.process_5 .process_item .process_item_bot {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 5px 0;
  color: #bbbbbb;
}
.process_5 .process_item .process_step0 {
  width: 125px;
  background-position: -120px -1085px;
}
.process_5 .process_item .process_step1 {
  width: 135px;
  background-position: 30px -896px;
}
.process_5 .process_item .process_step2 {
  width: 138px;
  background-position: -92px -896px;
}
.process_5 .process_item .process_step3 {
  width: 132px;
  background-position: -225px -896px;
}
.process_5 .process_item .process_step4 {
  width: 140px;
  background-position: -345px -896px;
}
.process_5 .actived .process_step0 {
  width: 125px;
  background-position: -120px -1008px;
}
.process_5 .actived .process_step1 {
  background-position: 30px -835px;
}
.process_5 .actived .process_step2 {
  background-position: -92px -835px;
}
.process_5 .actived .process_step3 {
  background-position: -225px -835px;
}
.process_5 .actived .process_step4 {
  background-position: -345px -835px;
}
.NT_Textarea_Wrap {
  position: relative;
}
.NT_Textarea_Wrap .NT_Handler {
  width: 525px;
  height: 30px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-bottom: 0px;
  position: absolute;
  z-index: 1000;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
  zoom: 1;
}
.NT_Textarea_Wrap .NT_Handler .NT_Pictures_Upload_Wrap {
  margin-left: 20px;
  float: left;
  display: inline;
}
.NT_Textarea_Wrap .NT_Handler .NT_Pictures_Upload_Wrap a {
  text-decoration: none;
  line-height: 30px;
}
.NT_Textarea_Wrap .NT_Handler .NT_Pictures_Upload_Wrap a:link {
  color: #666666;
}
.NT_Textarea_Wrap .NT_Handler .NT_Pictures_Upload_Wrap a:hover,
.NT_Textarea_Wrap .NT_Handler .NT_Pictures_Upload_Wrap a:focus,
.NT_Textarea_Wrap .NT_Handler .NT_Pictures_Upload_Wrap a:focus {
  color: #1f90de;
  text-decoration: none;
}
.NT_Textarea_Wrap .NT_Handler .NT_Pictures_Upload_Wrap a:visited {
  color: #666666;
}
.NT_Textarea_Wrap .NT_Handler .NT_Videos_Upload_Wrap {
  float: left;
  display: inline;
}
.NT_Textarea_Wrap .NT_Handler .NT_Videos_Upload_Wrap a {
  text-decoration: none;
  line-height: 30px;
}
.NT_Textarea_Wrap .NT_Handler .NT_Videos_Upload_Wrap a:link {
  color: #666666;
}
.NT_Textarea_Wrap .NT_Handler .NT_Videos_Upload_Wrap a:hover,
.NT_Textarea_Wrap .NT_Handler .NT_Videos_Upload_Wrap a:focus,
.NT_Textarea_Wrap .NT_Handler .NT_Videos_Upload_Wrap a:focus {
  color: #1f90de;
  text-decoration: none;
}
.NT_Textarea_Wrap .NT_Handler .NT_Videos_Upload_Wrap a:visited {
  color: #666666;
}
.NT_Textarea_Wrap textarea {
  border-top: 0px;
  border-radius: 0px 0px 3px 3px;
}
.NT_Textarea_Wrap .vline {
  float: left;
  display: inline;
  margin: 8px 10px;
}
p.pot {
  font-size: 12px;
  line-height: 24px;
  padding-bottom: 10px;
}
.small_line {
  word-break: break-all;
  font-size: 13px;
  color: #555555;
  line-height: 24px;
}
.moreoperation {
  margin: -16px 10px 0 0;
  height: 40px;
}
.moreoperation .moreicon {
  font-size: 14px;
  cursor: pointer;
}
.moreoperation .moreicon * {
  vertical-align: middle;
}
.moreoperation .moreicon .downarr {
  display: inline-block;
  border-top-color: #fe4028;
  border-width: 6px;
  border-bottom: 0px;
  margin-top: -4px;
}
.moreoperation .morecont {
  position: absolute;
  z-index: 1000;
  left: auto;
  top: 10px;
  right: 0;
  bottom: auto;
  zoom: 1;
  width: 90px;
  background-color: #efefef;
  border-radius: 5px;
  overflow: hidden;
}
.moreoperation .morecont a {
  display: block;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  transition: none;
  letter-spacing: 0.1em;
  /*text-align: justify;
			text-justify:inter-ideograph;
			word-break:break-all;
			word-wrap:break-word;*/

}
.moreoperation .morecont a.btnnew:link,
.moreoperation .morecont a.btnnew:visited {
  color: #fe4028 !important;
  background-color: #efefef;
}
.moreoperation .morecont a.btnnew:hover,
.moreoperation .morecont a.btnnew:active,
.moreoperation .morecont a.btnnew:focus {
  color: white !important;
  background-color: #a3cee1;
}
.moreoperation .morecont a.btnblue:link,
.moreoperation .morecont a.btnblue:visited {
  color: #464646 !important;
  background-color: #efefef;
}
.moreoperation .morecont a.btnblue:hover,
.moreoperation .morecont a.btnblue:active,
.moreoperation .morecont a.btnblue:focus {
  color: white !important;
  background-color: #a3cee1;
}
.vline {
  height: 14px;
  width: 0px;
  overflow: hidden;
  vertical-align: middle;
  border-right: 1px solid #cccccc;
}
.resume_spe_line {
  background: url("../../image/cli/dot.png") 0 20px repeat-x;
  height: 40px;
  text-align: center;
}
.resume_spe_line span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background-color: white;
  font-size: 12px;
  color: #999999;
  padding: 0 20px;
}
.mouse-card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  z-index: 10000;
}
.maincontent .commentjobs .lower {
  padding: 17px 0 10px !important;
}
.maincontent .commentjobs .lower .ishidden {
  height: 23px !important;
}
.pos_txt {
  padding-top: 15px !important;
}
